body{
    background: white;
}

.nav_about{
    border: 2px solid black;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
    gap: 20px;
}

.gallery img{
    border: 3px solid black;
    width: 100%;
}

.dark-mode{
    background: black;
}

.dark-mode .nav_about{
    border: 2px solid white;
}

.dark-mode .gallery img{
    border: 3px solid white;
}
