body{
    background: white;
}

.nav_about{
    border: 2px solid black;
}

h2{
    justify-content: center;
    max-width: 90%;
    margin: auto;
    padding-top: 20px;
}

.gallery h2 {
    padding-top: 0;
    padding-bottom: 20px;
}

.gallery h1 {
    padding-top: 30px;
}

.gallery h1:nth-child(1) {
    padding-top: 0;
}

.gallery{
    padding-top: 20px;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.gallery img{
    box-sizing: border-box;
    max-width: 90%;
    border: 3px solid black;
}

.sports{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.other{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.dark-mode{
    background: black;
}

.dark-mode .nav_about{
    border: 2px solid white;
}

.dark-mode .gallery img{
    border: 3px solid white;
}

/* iPad styling */
@media screen and (min-device-width: 481px) {
    .sports{
        flex-direction: row;
        align-items: flex-start;
    }

    .other{
        flex-direction: row;
    }

    .other img:last-child{
        max-width: 60%;
    }

    .gallery img{
        max-width: 40%;
    }
}

/* larger screens */
@media screen and (min-device-width: 769px) {
    .gallery img{
        max-width: 30%;
    }

    .other img{
        max-width: 40%;
    }

    h2{
        max-width: 70%;
    }

    .sports{
        flex-direction: row;
    }
    
    .other{
        flex-direction: row-reverse;
    }
}
