body{
    background: white;
}

.nav_about{
    border: 2px solid black;
}

.aboutBlurb{
    width: 90%;
    margin: auto;
}

h1{
    line-height: normal;
}

h2{
    text-align: center;
    padding-top: 20px;
}

h4{
    text-align: center;
    font-size: 1.5em;
    line-height: 40px;
}

p{
    color: black;
    font-size: 1.5em;
    text-align: center;
}

footer p{
    font-size: initial;
}

.gallery h2 {
    padding-top: 0;
    padding-bottom: 20px;
}

.gallery h1 {
    padding-top: 30px;
}

.gallery h1:nth-child(1) {
    padding-top: 0;
}

.gallery{
    padding-top: 20px;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.gallery .sportsImg, .gallery .otherImg{
    max-width: 90%;
    box-sizing: border-box;
}

.gallery img{
    max-width: 100%;
    border: 3px solid black;
}

.sports{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.other{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.dark-mode{
    background: black;
}

.dark-mode .nav_about{
    border: 2px solid white;
}

.dark-mode .gallery img{
    border: 3px solid white;
}

.dark-mode p{
    color: white;
}

/* iPad styling */
@media screen and (min-device-width: 481px) {
    .sports{
        flex-direction: row;
        align-items: flex-start;
    }

    .other{
        flex-direction: row;
    }

    .otherImg:last-child{
        max-width: 60%;
    }

    .gallery .sportsImg, .gallery .otherImg{
        max-width: 40%;
    }

    .gallery img{
        max-width: 100%;
    }
}

/* larger screens */
@media screen and (min-device-width: 769px) {
    .gallery .sportsImg{
        max-width: 30%;
    }

    .gallery img{
        max-width: 100%;
    }

    .otherImg{
        max-width: 40%;
    }

    .other img{
        max-width: 100%;
    }

    h4{
        max-width: 70%;
        margin: auto;
    }

    .sports{
        flex-direction: row;
    }
    
    .other{
        flex-direction: row-reverse;
    }
}
