body{
    background: url("../images/materialplanet.png") 0 0 / 175vmax 175vmax;
}

.nav_home{
    border: 2px solid white;
}

.contact_list{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
}

.contact_list img{
    height: 10vmin;
}

/*prefers reduced motion turn off animation*/