body{
    background: url("../images/white-mountain.jpeg") 0 0 / 175vmax 175vmax, white;
}

.nav_home{
    border: 2px solid black;
}

.contact_list{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
}

.contact_list img{
    height: 10vmin;
}

.github, .linkedin, .email{
    filter: brightness(25%);
}

.dark-mode{
    background: url("../images/materialplanet.png") 0 0 / 175vmax 175vmax, black;
}

.dark-mode .nav_home{
    border: 2px solid white;
}

.dark-mode .github, .dark-mode .linkedin, .dark-mode .email{
    filter: brightness(100%);
}
