body{
    background: white;
}

.nav_projects{
    border: 2px solid black;
}

.blocklifts{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
    gap: 20px;
}

.blocklifts > img{
    display: none;
    border: 3px solid black;
    width: 100%;
}

#myCarousel{
    width: 90%;
    justify-content: center;
    margin: auto;
}

.item1{
    grid-column: 1 / -1;
    text-align: center;
}

.item1 img{
    padding-top: 20px;
    width: 35%;
}

.item2{
    grid-column: 1 / -1;
    text-align: center;
}

.start-finish{
    grid-column: 1 / -1;
    width: 90%;
    margin: auto;
}

#slider{
   margin: auto;
}

.gallery{
    padding-top: 25px;
}

.gallery, .solarImages, .chessImages{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
    gap: 15px;
}

.gallery img{
    border: 3px solid black;
    width: 100%;
}

h2{
    padding-top: 5px;
}

h3{
    padding-top: 10px;
    line-height: 30px;
    font-size: 2em;
}

h4{
    line-height: 30px;
    font-size: 1.2em;
    padding-top: 10px;
}

.dark-mode{
    background-color: black;
    background: black;
}

.dark-mode .nav_projects{
    border: 2px solid black;
}

.dark-mode{
    background-color: black;
    background: url("../images/starry.jpeg") 0 0 / 180vmax 175vmax, black;
}

.dark-mode .nav_projects{
    border: 2px solid white;
}

.dark-mode .blocklifts > img{
    border: 3px solid white;
}

.dark-mode .gallery img{
    border: 3px solid white;
}

/* iPad styling */
@media screen and (min-device-width: 600px) {
    .blocklifts{
        grid-template-columns: 1fr 1fr;
    }

    .item1 img{
        width: 20%;
    }

    .start-finish{
        grid-column: 1;
        align-self: center;
    }

    #myCarousel{
        grid-column: 2;
    }

    .gallery{
        padding-top: 50px;
        grid-template-columns: 1fr 1fr;
    }

    .solar{
        grid-column: 1 / -1;
    }

    .solarImages{
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / -1;
        align-self: center;
        align-items: center;
    }

    .chess{
        padding-top: 15px;
        grid-column: 1 / -1;
    }

    .chessImages{
        grid-column: 1 / -1;
        width: 50%;
    }

    h3{
        line-height: 60px;
        font-size: 2.6em;
    }

    h4{
        line-height: 40px;
        font-size: 1.4em;
    }
}

/* larger screens */
@media screen and (min-device-width: 900px) {
    #slider{
        width: 25%;
    }

    .blocklifts{
        grid-template-columns: repeat(4, 1fr);
    }

    .blocklifts > img{
        display: inline;
    }

    .start-finish{
        grid-column: 1 / -1;
    }

    #myCarousel{
        display: none;
    }

    .item1 img{
        width: 15%;
    }

    .item2{
        padding-top: 15px;
    }

    .gallery{
        row-gap: 50px;
    }

    .solar{
        grid-column: 1;
        align-self: center;
    }

    .solarImages{
        grid-template-columns: 1fr 1fr;
        grid-column: 2;
    }

    .chess{
        grid-column: 1;
        align-self: center;
        padding-top: 0;
    }

    .chessImages{
        width: 100%;
        grid-column: 2;
    }

    h3{
        font-size: 3.5em;
    }

    h4{
        font-size: 1.8em;
    }
}
