body{
    background: white;
}

.nav_projects{
    border: 2px solid black;
}

.blocklifts{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
    gap: 20px;
}

.blocklifts > img{
    display: none;
    border: 3px solid black;
    width: 100%;
}

#myCarousel{
    width: 50%;
    justify-content: center;
    margin: auto;
}

.item1{
    grid-column: 1 / -1;
    text-align: center;
}

.item1 img{
    padding-top: 20px;
    width: 35%;
}

.item2{
    grid-column: 1 / -1;
    text-align: center;
}

#slider{
    grid-column: 1 / -1;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* probably wanna use grid here so I can have captions and such*/
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.gallery img{
    border: 3px solid black;
    width: 22.5%;
}

.gallery img:first-child{
    border: none;
    align-self: center;
}

.dark-mode{
    background-color: black;
    background: black;
}

.dark-mode .nav_projects{
    border: 2px solid black;
}

.dark-mode{
    background-color: black;
    background: url("../images/starry.jpeg") 0 0 / 175vmax 175vmax, black;
}

.dark-mode .nav_projects{
    border: 2px solid white;
}

.dark-mode .blocklifts > img{
    border: 3px solid white;
}

.dark-mode .gallery img{
    border: 3px solid white;
}


/* iPad styling */
@media screen and (min-device-width: 481px) {
    #slider{
        grid-column: 1 / -1;
        width: 25%;
        margin-left: 37.5%;
        margin-right: 37.5%;
    }

    .blocklifts{
        grid-template-columns: repeat(4, 1fr);
    }

    .blocklifts > img{
        display: inline;
    }

    #myCarousel{
        display: none;
    }

    .item1 img{
        width: 15%;
    }

    .item2{
        padding-top: 25px;
    }
}

/* larger screens */
@media screen and (min-device-width: 769px) {

}
