@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet&display=swap");

:root {
  --Snigle-font: "sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --bggradient: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

* {
  box-sizing: border-box;
  font-family: var(--Rubik);
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth !important;
}

header,
section {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

header a {
  font-family: var(--Snigle-font);
  font-size: 0.9em;
  color: whitesmoke;
}

header {
  background: var(--bggradient);
}

header .nav-item:last-child {
  padding-right: 8rem;
}

header .nav-item {
  padding: 1em;
}

header .nav-link {
  font-size: 1.2em;
  background: white;
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease-out;
}

header .navbar-brand {
  padding-left: 8rem;
  font-size: 1.8em;
}

header .nav-link:hover {
  background-position: -100%;
  transform: rotate(10deg);
}

header .row .col-md-7 {
  font-family: var(--Rubik);
  color: whitesmoke;
}

header .row .col-md-5 {
  padding: 4.2vmin 3vmin;
}

header .row .col-md-5 img {
  width: 90%;
  display: block;
  margin: auto;
}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h4 {
  padding: 1vmin;
  letter-spacing: 1.2px;
}

header .btn {
  border-radius: 30px;
  margin-top: 1em;
  font-weight: bold;
}

.header-ctr {
  max-width: 80%;
}

/********** section 1 **************/

.section-1 {
  position: relative;
  height: 105vh;
  display: flex;
  background: var(--bggradient);
}

.section-1 .screen {
  position: relative;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  transition: 1s;
}

.section-1 .screen:nth-child(1) {
  background: url(../assets/jersey.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-1 .screen:nth-child(2) {
  background: url(../assets/train.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-1 .screen:nth-child(3) {
  background: url(../assets/mac.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-1 .screen:hover {
  flex-grow: 5;
  opacity: 1;
}

.section-1 .screen .content-sec {
  position: absolute;
  width: 350px;
  height: auto;
  background: var(--bggradient);
  padding: 25px;
  box-sizing: border-box;
  transform: translateX(100%);
  transition: 0.2s;
  text-align: justify;
}

.section-1 .screen:hover .content-sec {
  transform: translateX(0);
  transition-delay: 0.4s;
}

.section-1 .screen .content-sec p {
  color: whitesmoke;
  font-family: var(--Rubik);
  margin: 0;
  padding: 0;
}

/********** section 2 **************/

.section-2 {
  padding: 8vmin 0vmin;
}

.section-2 .row .col-md-6 .my-pic img {
  width: 65%;
  border-radius: 0.2em;
}

.section-2 .row .col-md-6:last-child {
  position: relative;
}

.section-2 .row .col-md-6 .panel {
  position: absolute;
  top: 15vmin;
  left: -25vmin;
  background: var(--bggradient);
  border-radius: 3px;
  text-align: left;
  padding: 4vmin 4vmin 7vmin 5vmin;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  font-family: var(--Rubik);
  z-index: 1;
}

.section-2 .row .col-md-6 .panel h2 {
  font-weight: bold;
  padding: 0.4em 0;
  color: whitesmoke;
  font-size: 1.4em;
}

.section-2 .row .col-md-6 .panel p {
  color: whitesmoke;
  font-size: 1.2em;
}

/********** section 3 **************/

.section-3 {
  background-position: center;
  background: var(--bggradient);
  margin: auto;
}

.section-3 .container {
  padding-top: 6vmin;
}

.section-3 .container h1 {
  color: whitesmoke;
}

.section-3 .card {
  width: 22em;
  margin: 1.6em;
  margin-top: 5vmin;
  margin-bottom: 10vmin;
  transition: transform 0.3s ease-in-out;
}

.section-3 .card:hover {
  transform: scale(1.05);
}

.section-3 .card .card-text {
  padding: 0.4em;
  padding-left: 0;
}

.section-3 .card-body .patent-text {
  font-size: 1.3em;
}

.section-3 .card-body>a {
  font-size: 1.3em;
}

/********** footer **************/

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 7vmin 22vmin;
  padding-bottom: 10px;
}

footer .text-center {
  padding-top: 1rem !important;
}

footer .text-light {
  width: max-content;
}

footer .sp {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #dd2476;
  margin: 0.4rem;
  font-size: 2em;
  transition: color 0.3s linear;
}

footer .column i:hover {
  color: #ff4e9e;
}

footer p.gmail {
  color: #dd2476;
  transition: color 0.3s linear;
}

footer .column i+i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: all 1.5s ease;
}

#myBtn {
  display: none;
  position: fixed;
  height: 40px;
  width: 40px;
  z-index: 100;
  bottom: 55px;
  right: 30px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: grey;
  color: #ffff;
  cursor: pointer;
  padding: 0px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #404040;
}